CONFIG_LED_STRIP_RGB_POWER_GPIO=27
CONFIG_LED_STRIP_RGB_GPIO=16
CONFIG_LED_STRIP_U_GPIO=26
CONFIG_LED_STRIP_W_GPIO=23
CONFIG_LED_STRIP_F_GPIO=19
CONFIG_FAN_GPIO=18
CONFIG_HUMIDIFIER_POWER_GPIO=5
CONFIG_HUMIDIFIER_BUTTON_GPIO=17
CONFIG_SENSORS_I2C_SCL_GPIO=22
CONFIG_SENSORS_I2C_SDA_GPIO=21
